/*========================================================*/
/* COLOR GUIDE                                            */
/*========================================================*/
/*
dark grey #464337
light grey #a2a19b
gray49 #726E6D
blue link #06f
h3 yellow border #ffd735
alt blue light #e1ecff
alt blue dark #94beff
dark orange #C35617
sunny orange (like unselected tab) #FDD44A
gold2 #EAC117
goldenrod2 #E9AB17
sienna #8A4117
========================================================= */

/*========================================================*/
/*                  Table of Contents                     */
/*========================================================*/
/*  1. COMMON
/*  2. GRID
/*  3. HEADER
/*  4. FOOTER
/*  5. MAIN
/*  6. SIDEBAR
/*  7. BOX and ALTBOX
/*  8. FORMS
/*  9. MESSAGES 
/*========================================================*/

/* =============================================== */
/*  1. COMMON 
/* =============================================== */

/* =============================================== */
/*  2. GRID 
/* =============================================== */

/* =============================================== */
/*  3. HEADER
/* =============================================== */

/* =============================================== */
/*  4. FOOTER
/* =============================================== */

/* =============================================== */
/*  5. MAIN 
/* =============================================== */

/* =============================================== */
/* 7. BOX and ALTBOX
/* =============================================== */

.box{
background: none;
margin:0 0 1em;
padding:0;
}

.box h2{
margin-bottom: .5em;
font-weight: bold;
font-size: 153.9%;
}

.box h3{
font-size: 123.1%;
font-weight: bold;
text-transform: uppercase;
border-bottom: 1px solid #ffd735;
margin:1.5em 0 1em 0;
}

.alt{
border: 1px solid #94beff;
background: #e1ecff;
padding: 1em;
}

.alt h3{
border: none;
margin: 0 0 .5em 0;
padding: .5em;
background: #94beff;
color: #38465b;
}

.first_alt {
margin-top:3.25em;
}
	
/* =============================================== */
/*  8. FORMS 
/* =============================================== */

/* =============================================== */
/*  9. MESSAGES 
/* =============================================== */