<!--users/edit-->
<h2>Edit My Account</h2>
<p>You can change your login and password here.</p>
<%= render :partial=>"form", :locals => { :button_name => "Update", :pw_label => "Change password" } %>

<%= link_to "<< Back", users_path %> | <%= link_to "Delete my account", current_user, :method=>:delete, :confirm=>"Are you sure you want to delete your account?" %>