<!--users/index-->
<table>
<tr>
  <th>Login</th>
</tr>
<% for user in @users %>
<tr>
  <td><%= user.login %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit your account', edit_user_path(current_user) %> | <%= link_to 'Sign up a new user', signup_url %><br/>
(Note: The prospective user should be by your side ready to type in his/her information.  You will be logged out when this person's account is created.)